.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  grid-template-rows: 90px 120px 200px auto 90px;
  grid-template-columns: auto;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgb(135, 166, 179),
    rgb(114, 209, 204)
  );
  display: flex;
  flex-direction: column;
}
.pictures {
  margin-top: 20vh;
}
.movieLoad {
  display: flex;
  flex-direction: row;
}

.Stitle {
  margin-top: 30px;
  color: white;
  font-size: larger;
  font-weight: 700;
}
.Listmenu {
  width: 200px;
  height: calc(100vh - 50px);
  background-color: lightslategray;
  position: absolute;
  top: 50px;
  right: -250px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  transition: all 1s ease;
}
.Listmenu.active {
  transform: translateX(-250px);
}
.info {
  font-size: large;
  margin: 15px 15px 15px 5vh;
  color: white;
  text-align: left;
}
.movieHC {
  background-color: lightslategrey;
  width: 50vh;
  align-self: center;
  color: white;
}
.movieHist {
  font-weight: 700;
  padding: 5px;
}
.navButton {
  background-color: lightslategray;
  color: white;
  width: 80px;
  align-self: center;
  margin-top: 10px;
  height: 30px;
}
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav {
  display: flex;
  flex-direction: column;
}
.Search {
  margin-top: 15px;
}

.movie {
  margin: 3vh 0px 0px 10vh;
  width: 150vh;
  background-color: lightslategray;
  border: 3px solid white;
  color: white;
  border-radius: 20px;
}

.poster {
  margin: 3vh 0px 0px 10vh;
  height: 60vh;
  width: 37vh;
  align-self: center;
}
.Mtitle {
  align-self: center;
  margin-top: 15px;
  font-size: xx-large;
  font-weight: 700;
}
.imdb {
  align-self: center;
  margin-top: 15px;
  color: yellow;
  font-size: large;
  font-weight: 500;
}
.intro {
  font-size: xx-large;
  margin: 20vh 15px 15px 15px;
  font-weight: 700;
  color: white;
}
.title {
  align-self: center;
  margin-left: 25px;
}
.signInOut {
  align-self: center;
  margin-right: 15px;
}

header {
  background-color: lightslategray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  height: 10vh;
  color: white;
  font-weight: 700;
}

button {
  margin: 10px;
  background-color: lightblue;
  box-shadow: 2px 2px grey;
  border: none;
}

#left {
  text-align: left;
  margin-left: 5px;
}

#right {
  text-align: right;
  transform: rotate(20deg);
  margin-right: 5px;
  margin-top: 20px;
}
